*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-workspace
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
npm-debug.log
strongloop.json

client/bower_components
node_modules
