/* line 1, ../src/stylesheets/custom.sass */
#todoapp.filter-active #todo-list .completed,
#todoapp.filter-completed #todo-list .active,
#main,
#footer {
  display: none;
}

/* line 8, ../src/stylesheets/custom.sass */
.navbar-header {
  width: 100%;
}

/* line 11, ../src/stylesheets/custom.sass */
.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}

/* line 18, ../src/stylesheets/custom.sass */
body {
  background: white;
}

/* line 21, ../src/stylesheets/custom.sass */
#headerlinks {
  margin: 16px auto 0;
  color: #a6a6a6;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}

/* line 29, ../src/stylesheets/custom.sass */
#headerlinks a {
  color: inherit;
  text-decoration: none;
  padding-left: 30px;
}

/* line 34, ../src/stylesheets/custom.sass */
#todoapp h1 {
  top: -90px;
  font-size: 60px;
}

/* line 38, ../src/stylesheets/custom.sass */
#maincontent {
  margin-top: 75px;
}

/* line 41, ../src/stylesheets/custom.sass */
#maincontent h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}

/* line 50, ../src/stylesheets/custom.sass */
#info {
  position: relative;
  font-size: 14px;
}

/* line 55, ../src/stylesheets/custom.sass */
#about {
  margin-top: 135px;
  color: #a6a6a6;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}

/* line 62, ../src/stylesheets/custom.sass */
#about a {
  color: inherit;
}

/* line 65, ../src/stylesheets/custom.sass */
#about h1 {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
