form#login-form(action="#")
  label(for="email") Email
  input(type="email", name="email")

  label(for="password") Password
  input(type="password", name="password")

  input(type="submit", value="Submit")